SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ACTION=="add", SYMLINK+="arduino_elegoo"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="B003OF3K", ACTION=="add", SYMLINK+="arduino_nano"

# This is for the non elegoo bot arduino
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", ACTION=="add", SYMLINK+="arduino_elegoo"
