[Unit]
Description=Checks for arduino ports then starts service
After=network.target

[Service]
ExecStart=/opt/scripts/start-arduino.sh
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
