[Unit]
Description=Starts the python script for the Pi Arduino Car
After=network.target

[Service]
ExecStart=/usr/bin/env python3 /opt/scripts/pi_serial_json_3.0.0.0.py
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target



